<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insertar/Actualizar Categoría')"></head>

<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${category.id == null} ? #{msg.category-form.add} : #{msg.category-form.edit}"></h1>

    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${category.id == null} ? @{/categories/insert} : @{/categories/update}"
          th:object="${category}" method="post" enctype="multipart/form-data" class="mt-4">
        <input type="hidden" th:field="*{id}" />
        <div th:if="${#fields.hasErrors('id')}" class="text-danger" th:errors="*{id}"></div>

        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{msg.category-form.name}"></label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required/>
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label" th:text="#{msg.category-form.image}"></label>
            <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/*"/>
        </div>

        <div class="mb-3">
            <label for="parentCategory" class="form-label" th:text="#{msg.category-form.parentCategory}"></label>
            <select th:field="*{parentCategory.id}" id="parentCategory" class="form-control">
                <option value="" th:text="#{msg.category-form.select-parentCategory}"></option>
                <option th:each="parentCategory : ${parentCategories}" th:value="${parentCategory.id}"
                        th:text="${parentCategory.name}" th:selected="${category.parentCategory != null ? category.parentCategory.id == parentCategory.id : false}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('parentCategory.id')}" class="text-danger" th:errors="*{parentCategory.id}"></div>
        </div>

        <button type="submit" class="btn btn-primary"
                th:text="${category.id == null} ? #{msg.category-form.create} : #{msg.category-form.update}">
        </button>
    </form>

    <!-- Volver a la lista de categorías -->
    <a th:href="@{/categories}" class="btn btn-secondary mt-3" th:text="#{msg.category-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>